[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad/
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/wil"]
	path = external/wil
	url = https://github.com/microsoft/wil
